$color-dark-dark-blue: hsl(208, 23%, 22%); // Dark Mode Elements
$color-dark-vdark-blue: hsl(209, 26%, 17%); // Dark Mode Background
$color-light-vdark-blue: hsl(200, 15%, 8%); // Light Mode Text
$color-light-dark-gray: hsl(0, 0%, 52%); // Light Mode Input
$color-light-vlight-gray: hsl(0, 0%, 98%); // Light Mode Background

$body-bg-dark: $color-dark-vdark-blue;